<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %>   <i class="fa fa-regular fa-caret-right"></i></h1>
  </div>

  <div class="allList">

    <h2>Other Todolist</h2>
    <% allList.forEach((list) => { %>
      <div class="allListItems">
        <a href="/<%=list%>"> <%= list %> </a>
      </div>
    <% }) %>
  </div>

  <div class="box">
      <% newListItems.forEach((item) => { %>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checkbox" onChange="this.form.submit()" value="<%= item._id %>">
            <p><%=  item.name  %></p>
          </div>
          <input type="hidden" name="listName" value="<%= listTitle %>"></input>
        </form>
      <% }) %>
      

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
